html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

.animate-delay-100 {
  animation-delay: 100ms;
}
.animate-delay-200 {
  animation-delay: 200ms;
}
.animate-delay-300 {
  animation-delay: 300ms;
}
.animate-delay-400 {
  animation-delay: 400ms;
}
.animate-delay-500 {
  animation-delay: 500ms;
}
.animate-delay-600 {
  animation-delay: 600ms;
}
.animate-delay-700 {
  animation-delay: 700ms;
}
.animate-delay-800 {
  animation-delay: 800ms;
}
.animate-delay-900 {
  animation-delay: 900ms;
}
.animate-delay-1000 {
  animation-delay: 1000ms;
}

.section-title::after {
  content: "";
}
.social-icon i {
  font-size: 28px;
  color: #bbb6b6;
  transition: color 0.3s, transform 0.3s;
  display: inline-block;
}

.social-icon i:hover {
  color: orange; /* or your brand color */
  transform: scale(1.3); /* Zoom in */
}
